{% extends 'main/layout.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="container mt-0">
        <h1 class="mb-4">Добро пожаловать на наш сайт!</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <img class="card-img-top" src="https://i.vuzopedia.ru/storage/app/uploads/public/62f/ca4/37c/62fca437c641a449361817.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Наши курсы</h5>
                        <p class="card-text">Мы предлагаем широкий выбор курсов, которые помогут вам развить свои навыки и достичь новых высот.</p>
                        <a href="#" class="btn btn-primary">Узнать больше</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <img class="card-img-top" src="https://img01.kupiprodai.ru/062020/1591259537776.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">О нас</h5>
                        <p class="card-text">Наша команда состоит из опытных профессионалов, готовых помочь вам на каждом этапе вашего обучения.</p>
                        <a href="#" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info" role="alert">
                    <h4 class="alert-heading">Важная информация!</h4>
                    <p>Не пропустите наши специальные предложения и акции. Подпишитесь на нашу рассылку, чтобы быть в курсе всех новостей.</p>
                    <hr>
                    <p class="mb-0">Свяжитесь с нами для получения дополнительной информации.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}