{% extends 'main/layout.html' %}

{% block title %}Главная{% endblock %}
{% block content %}
    <div class="container mt-0">
        <h1 class="mb-4">Школа Онлайн-Образования для Людей Третьего Возраста</h1>
<body>
        <div class="image-container">
        <img src="main/static/img/art.jpg" alt="картинка">
        <div class="overlay-text">
            <h1>Онлайн-обучение для третьего возроста</h1>
            <p>Образовательная площадка для развития потенциала людей старшего возроста</p>
        </div>
        <form action="accounts/register.html" target="_blank"><button>Переход по ссылке</button>
        </form>
        </div>
    </div>

    <div id="about" class="school">
        <h2>О школе</h2>
        <ul>
            <li>Школа Онлайн-Образования для Людей Третьего Возраста – это образовательный проект, созданный специально для людей третьего возраста, предлагает увлекательные и полезные курсы, адаптированные к вашим потребностям и интересам.</li>
            <li>Способствовать активному долголетию и социальной активности.</li>
            <li>Расширить кругозор и развить новые навыки.</li>
        </ul>
    </div>
    <div class="goals">
        <h2>Наша цель</h2>
        <ul>
            <li>Предоставить возможности для непрерывного образования.</li>
            <li>Способствовать активному долголетию и социальной активности.</li>
            <li>Расширить кругозор и развить новые навыки.</li>
        </ul>
    </div>

    <div class="offerings">
        <h2>Что мы предлагаем</h2>
        <ul>
            <li>Удобный формат: Онлайн-курсы, вебинары и индивидуальные консультации.</li>
            <li>Разнообразие тем: От искусства и истории до финансовой грамотности и здоровья.</li>
            <li>Опытные преподаватели: Специалисты в своих областях с богатым опытом работы.</li>
            <li>Интерактивные задания: Практические задания и дискуссии для активной работы.</li>
        </ul>
    </div>

    <div class="question">
        <h2>Как стать студентом онлайн университета?</h2>
        <p>Зарегистрироваться в системе и начать проходить курсы.</p>
        <h3>Как начать обучение в несколько шагов?</h3>
        <ol>
            <li>Выбрать курс</li>
            <li>Нажать кнопку "Подробнее"</li>
            <li>На странице описания курса нажать на кнопку "Записаться на курс"</li>
        </ol>
    </div>
</div>

</body>
</html>
{% endblock %}