{% extends 'main/layout.html' %}
{% load custom_tags %}

{% block title %}{{ lesson.title }}{% endblock %}
{% block content %}
<div class="container mt-0">
    <h1>{{ assignment.title }}</h1>
    <h2>Детали задания</h2>
    <p>{{ assignment.description }}</p>

    {% if user.is_authenticated and user|has_group:"Teacher" %}
    {% if request.GET.mode == 'edit' %}
        <div class="mb-3">
            <a href="{% url 'edit_assignment' assignment.id %}" class="btn btn-warning">Редактировать задание</a>
            <a href="{% url 'delete_assignment' assignment.id %}" class="btn btn-danger">Удалить задание</a>
            <a href="{% url 'lesson_detail' assignment.lesson.id %}?mode=edit" class="btn btn-secondary">Вернуться к уроку</a>
        </div>
    {% endif %}
    {% endif %}


 </div>
{% endblock %}
