{% extends 'main/layout.html' %}

{% block title %}Курсы{% endblock %}

{% block content %}
    <div class="features">
        <h1>Курсы</h1>

        {% for el in courses %}
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://static.tildacdn.com/tild6138-3335-4562-b634-633431636438/TTTT3187.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ el.title }}</h5>
                <p class="card-text">{{ el.description }}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}