<!-- templates/courses/course_detail.html -->
{% extends 'main/layout.html' %}
{% block title %}{{ course.title }}{% endblock %}
{% block content %}
<div class="container mt-0">
    <h1>{{ course.title }}</h1>
    <p>{{ course.description }}</p>
    <p>Дата начала: {{ course.date }}</p>
    <a href="{% url 'enroll_in_course' course.id %}" class="btn btn-success">Записаться на курс</a>

    <h2>Модули курса:</h2>
    <ul>
        {% for module in modules %}
            <li>
                <h3>{{ module.title }}</h3>
                <a href="{% url 'lesson_detail' module.lessons.first.id %}">Просмотреть уроки</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}