{% extends 'main/layout.html' %}

{% block title %}Курсы{% endblock %}

{% block content %}
    <div class="container mt-0">
        <h1 class="mb-4">Курсы</h1>
        <div class="row">
            {% for el in courses %}
                <div class="col-12 col-sm-6 col-md-4 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="https://static.tildacdn.com/tild6138-3335-4562-b634-633431636438/TTTT3187.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ el.title }}</h5>
                            <p class="card-text">{{ el.description }}</p>
                            <a href="{% url 'course_detail' el.id %}?mode=view" class="btn btn-primary">Подробнее</a>
                           
                            <a href="{% url 'course_detail' el.id %}?mode=edit" class="btn btn-primary">Редактировать</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}