{% extends 'main/layout.html' %}

{% block title %}Добавление задания{% endblock %}

{% block content %}
  <div class="container mt-0">
    <h1>Добавление задания к уроку: {{ lesson.title }}</h1>
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        {{ form.title.label_tag }}<br>
        {{ form.title }}
      </div>
      <div class="mb-3">
        {{ form.description.label_tag }}<br>
        {{ form.description }}
      </div>
      <button type="submit" class="btn btn-success">Сохранить задание</button>
        <a href="{% url 'lesson_detail' lesson.id %}" class="btn btn-secondary">Отмена</a>
    </form>
  </div>
{% endblock %}
