{% extends 'main/layout.html' %}
{% block title %}Редактирование урока{% endblock %}
{% block content %}
<div class="container mt-0">
    <h1>Редактирование урока: {{ lesson.title }}</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.title.label_tag }}<br>
            {{ form.title }}
        </div>
        <div class="mb-3">
            {{ form.content.label_tag }}<br>
            {{ form.content }}
        </div>
        <button class="btn btn-success" type="submit">Сохранить изменения</button>
    </form>
</div>
{% endblock %}