{% extends 'main/layout.html' %}
{% block title %}Редактирование курса{% endblock %}
{% block content %}
<div class="container mt-0">
    <h1>Редактирование курса: {{ course.title }}</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.title.label_tag }}<br>
            {{ form.title }}
        </div>
        <div class="mb-3">
            {{ form.description.label_tag }}<br>
            {{ form.description }}
        </div>
        <div class="mb-3">
            {{ form.date.label_tag }}<br>
            {{ form.date }}
        </div>
       <button type="submit" class="btn btn-success">Сохранить изменения</button>
        <a href="{% url 'course_detail' course.id %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}