{% extends 'main/layout.html' %}
{% load custom_tags %}
{% block title %}{{ module.title }}{% endblock %}
{% block content %}

<div class="container mt-0">
    <h1>{{ module.title }}</h1>
    <p>{{ module.description }}</p>

    <h2>Уроки в этом модуле:</h2>
    <ul>
        {% for lesson in lessons %}
            <li>
                {% if user.is_authenticated %}
                    {% if user|has_group:"Student" %}
                        <a href="{% url 'lesson_detail' lesson.id %}?mode=view">{{ lesson.title }}</a>
                    {% elif user|has_group:"Teacher" %}
                        <a href="{% url 'lesson_detail' lesson.id %}?mode=edit">{{ lesson.title }}</a>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    {% if user.is_authenticated and user|has_group:"Teacher" %}
        <div class="mb-3">
            <a href="{% url 'create_lesson' module.id %}" class="btn btn-info">Добавить урок</a>
            <a href="{% url 'edit_module' module.id %}" class="btn btn-warning">Редактировать модуль</a>
            <a href="{% url 'delete_module' module.id %}" class="btn btn-danger">Удалить модуль</a>
            <a href="{% url 'course_detail' module.course.id %}" class="btn btn-secondary">Вернуться к курсу</a>
        </div>
    {% endif %}
</div>

{% endblock %}
